<!-- {/* Profile Stats Grid */} -->

<div class="grid">
  <!-- 
  {/* Your Rank */} -->
  <div class="card">
    <header>
      <img
        ngSrc="assets/img/target.png"
        alt="Your Rank Icon"
        height="24"
        width="24"
        priority
      />
      <h3>Your Rank</h3>
    </header>
    <div>
      <p class="value-large">#3</p>
      <p>Out of 1,247 participants</p>
    </div>
  </div>

  <!-- {/* Your Points */} -->
  <div class="card">
    <header>
      <img
        ngSrc="assets/img/growth.png"
        alt="Your Points Icon"
        height="24"
        width="24"
        priority
      />
      <h3>Your Points</h3>
    </header>
    <div>
      <p class="value-large">2,180</p>
      <p>+150 points this week</p>
    </div>
  </div>

  <!-- {/* Your Achievements */} -->
  <div class="card">
    <header>
      <img
        ngSrc="assets/img/achievement.png"
        alt="Your Achievements Icon"
        height="24"
        width="24"
        priority
      />
      <h2>Achievement</h2>
    </header>
    <div>
      <div class="badges">
        <p class="badge">Rising Star</p>
      </div>
      <p>28-day streak milestone</p>
    </div>
  </div>
</div>
