<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <p-inputgroup>
    <p-inputgroup-addon>
      <i class="pi pi-user"></i>
    </p-inputgroup-addon>
    <input
      class="w-full"
      [invalidField]="loginForm.get('email')"
      pInputText
      formControlName="email"
      placeholder="Email"
    />
  </p-inputgroup>
  <p-inputgroup>
    <p-inputgroup-addon>
      <i class="pi pi-lock"></i>
    </p-inputgroup-addon>

    <p-password
      class="w-full"
      [invalidField]="loginForm.get('password')"
      [style]="{ width: '100%' }"
      [inputStyle]="{ width: '100%', 'border-radius': '0' }"
      formControlName="password"
      [toggleMask]="true"
      [feedback]="false"
      placeholder="Password"
    />
  </p-inputgroup>
  <span
    class="error-message"
    [ngClass]="errorMessage().length === 0 ? 'invisible' : ''"
  >
    {{ errorMessage() }}
  </span>
  <button type="submit">LOGIN</button>
</form>
