<div class="achievements">
  <header>
    <div>
      <i class="pi pi-star-fill" style="color: white"></i>
      <h2>Achievements</h2>
    </div>
    <h3>Your diet journey milestones</h3>
  </header>
  <div class="badges">
    <p>30 Day Streak</p>
    <p>Recipe Master</p>
  </div>
  <ul>
    <li>
      <div>
        <h2>Achieve 30-day streak milestone</h2>
      </div>
      <div>
        <h4>{{ getStreakAchievementCompletionPercent(30) }}% complete</h4>
      </div>
    </li>
    <li>
      <div>
        <h2>Prepare 10 different recipes</h2>
      </div>
      <div>
        <h4>{{ getRecipeAchievementCompletionPercent(10) }}% complete</h4>
      </div>
    </li>
  </ul>
</div>
