<div class="achievements">
  <header>
    <div>
      <i class="pi pi-star-fill" style="color: white"></i>
      <h2>Achievements</h2>
    </div>
    <h3>Your diet journey milestone</h3>
  </header>
  <div class="badges">
    <p>7 Day Streak</p>
    <p>Recipe Master</p>
    <p>Healthy Choice</p>
  </div>
  <ul>
    <li>
      <div>
        <h2>Achieved 7-day streak milestone</h2>
        <h3>1 day ago</h3>
      </div>
      <div>
        <h4>2 days to go</h4>
        <h4>93% complete</h4>
      </div>
    </li>
  </ul>
</div>
