<div class="account-settings">
  <header>
    <i class="pi pi-bell" style="font-size: 1rem"></i>
    <h2>Notifications</h2>
  </header>
  <ul>
    <li>
      <div>
        <h2>Day Completion</h2>
        <h3>Get notified when you complete your daily goals</h3>
      </div>
      <p-toggleswitch [(ngModel)]="checked1" />
    </li>
    <li>
      <div>
        <h2>Leaderboard Updates</h2>
        <h3>Ranking change notifications</h3>
      </div>
      <p-toggleswitch [(ngModel)]="checked2" />
    </li>
  </ul>
</div>
