<section class="marketplace-page-section">
  <header>
    <div>
      <h1>Marketplace</h1>
      <h2>Shop for Mediterranean diet essentials and specialty ingredients</h2>
    </div>
    <p-button label="Cart (3)" icon="pi pi-shopping-cart" />
  </header>
  <div class="marketplace-page-content">
    <div class="shipping">
      <div>
        <h3>Free Shipping on Orders Over $50</h3>
        <h4>Get your Mediterranean essentials delivered to your door</h4>
      </div>
      <i class="pi pi-truck" style="font-size: 3rem; color: #4caf50"></i>
    </div>
    <app-marketplace-categories></app-marketplace-categories>
    <app-marketplace-items></app-marketplace-items>
  </div>
</section>
