.profile-information {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 25px;

  header {
    margin-bottom: 2rem;

    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    h2 {
      font-weight: 500;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    .info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;

      .button-wrapper {
        display: flex;
        gap: 1rem;
        margin-left: auto;
      }

      .user-details {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        h2 {
          font-weight: 600;
          font-size: 1.25rem;
        }

        p {
          color: #ddd;
        }

        .badges {
          display: flex;
          gap: 0.5rem;
          flex-wrap: wrap;
          align-items: center;

          p {
            margin: 0;
            font-size: 0.75rem;
            border: 1px solid #ccc;
            padding: 0.25rem 0.5rem;
            border-radius: 15px;
            line-height: 1.2;
          }
          .sub-label {
            &.premium {
              color: #22c55e;
              font-weight: 700;
            }
          }
        }
      }

      .profile-picture {
        border-radius: 50%;
        background-color: #2d6b3a;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        p {
          color: white;
          font-size: 1.5rem;
          font-weight: bold;
          margin: 0;
        }
      }
    }

    .achievements {
      display: flex;
      justify-content: space-between;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-radius: 12px;
      text-align: center;
      background-color: #eeeeff;

      h2 {
        font-weight: 500;
        font-size: 1.25rem;
        color: black;
      }

      p {
        font-size: 0.75rem;
        color: black;
      }
    }
  }
}

.green {
  color: #2d6b3a !important;
}

.red {
  color: red !important;
}
