<div class="account-settings">
  <header>
    <i class="pi pi-cog" style="font-size: 1rem"></i>
    <h2>Account Settings</h2>
  </header>
  <ul>
    <li (click)="showPrivacyModal()">
      <i class="pi pi-shield" style="font-size: 1rem"></i>
      <h2>Privacy & Security</h2>
    </li>
    <li (click)="showHelpModal()">
      <i class="pi pi-question-circle" style="font-size: 1rem"></i>
      <h2>Help & Support</h2>
    </li>
    <li>
      <i class="pi pi-sign-out" style="color: red; font-size: 1rem"></i>
      <h2 (click)="this.userService.logout()" class="red">Log out</h2>
    </li>
  </ul>
</div>
