<!-- {/* Profile Stats Grid */} -->

<div *ngIf="clientDiet" class="grid">
  <!-- {/* Selected Diet */} -->
  <div class="card">
    <header>
      <img
        ngSrc="assets/img/apple.png"
        alt="Diet Icon"
        height="24"
        width="24"
        priority
      />
      <h2>Current Diet</h2>
    </header>
    <div>
      <h1>{{ clientDiet?.diet?.name }}</h1>
      <p>{{ getDietDescription(clientDiet?.diet) }}</p>
    </div>
  </div>
  <!--
  {/* Diet Streak */} -->
  <div class="card">
    <header>
      <img
        ngSrc="assets/img/target.png"
        alt="Diet Streak Icon"
        height="24"
        width="24"
        priority
      />
      <h2>Diet Streak</h2>
    </header>
    <div>
      <h1>{{ getStreakNumberString() }}</h1>
      <p-progressbar
        [value]="(getStreakNumber() / 30) * 100"
        [showValue]="false"
        [style]="{ height: '8px', 'border-radius': '5px' }"></p-progressbar>
      <p>{{ 30 - getStreakNumber() }} days to your first milestone!</p>
    </div>
  </div>

  <!-- {/* Today's Calories */} -->
  <div class="card">
    <header>
      <img
        ngSrc="assets/img/growth.png"
        alt="Today's Calories Icon"
        height="24"
        width="24"
        priority
      />
      <h2>Today's Calories</h2>
    </header>
    <div>
      <h1>{{ getTodaysCalories() }}</h1>
      <p-progressbar
        [value]="(getTodaysCalories() / clientDiet.dailyKcalTarget) * 100"
        [showValue]="false"
        [style]="{ height: '8px', 'border-radius': '5px' }"></p-progressbar>
      <p *ngIf="clientDiet.dailyKcalTarget > getTodaysCalories()">{{ Math.round(clientDiet.dailyKcalTarget - getTodaysCalories())  }} kcal left to reach goal</p>
      <p *ngIf="clientDiet.dailyKcalTarget < getTodaysCalories()">Goal achieved!</p>

    </div>
  </div>

  <!-- {/* Meals Today */} -->
  <div class="card">
    <header>
      <img
        ngSrc="assets/img/clock.png"
        alt="Meals Today Icon"
        height="24"
        width="24"
        priority
      />
      <h2>Meals Today</h2>
    </header>
    <div>
      <h1>{{ getTodaysMealNumber() }}</h1>
      <p-progressbar
        [value]="(getTodaysMealNumber() / 5) * 100"
        [showValue]="false"
        [style]="{ height: '8px', 'border-radius': '5px' }"></p-progressbar>
      <p>{{ Math.max(0,5 - getTodaysMealNumber()) }} meals remaining</p>
    </div>
  </div>
</div>
