<!-- {/* Profile Stats Grid */} -->

<div class="grid">
  <!-- {/* Selected Diet */} -->
  <div class="card">
    <header>
      <img
        ngSrc="assets/img/apple.png"
        alt="Vegetarian Diet Icon"
        height="24"
        width="24"
        priority
      />
      <h2>Current Diet</h2>
    </header>
    <div>
      <h1>Vegetarian</h1>
      <p>Rich in healthy fats & vegetables</p>
    </div>
  </div>
  <!-- 
  {/* Diet Streak */} -->
  <div class="card">
    <header>
      <img
        ngSrc="assets/img/target.png"
        alt="Diet Streak Icon"
        height="24"
        width="24"
        priority
      />
      <h2>Diet Streak</h2>
    </header>
    <div>
      <h1>28 days</h1>
      <p-progressbar
        [value]="(28 / 45) * 100"
        [showValue]="false"
        [style]="{ height: '8px', 'border-radius': '5px' }"
      />
      <p>17 days to goal</p>
    </div>
  </div>

  <!-- {/* Today's Calories */} -->
  <div class="card">
    <header>
      <img
        ngSrc="assets/img/growth.png"
        alt="Today's Calories Icon"
        height="24"
        width="24"
        priority
      />
      <h2>Today's Calories</h2>
    </header>
    <div>
      <h1>1580</h1>
      <p-progressbar
        [value]="(1580 / 1800) * 100"
        [showValue]="false"
        [style]="{ height: '8px', 'border-radius': '5px' }"
      />
      <p>220 left to reach goal</p>
    </div>
  </div>

  <!-- {/* Meals Today */} -->
  <div class="card">
    <header>
      <img
        ngSrc="assets/img/clock.png"
        alt="Meals Today Icon"
        height="24"
        width="24"
        priority
      />
      <h2>Meals Today</h2>
    </header>
    <div>
      <h1>3/4</h1>
      <p-progressbar
        [value]="(3 / 4) * 100"
        [showValue]="false"
        [style]="{ height: '8px', 'border-radius': '5px' }"
      />
      <p>1 meals remaining</p>
    </div>
  </div>
</div>
