<form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <input
    class="w-full"
    [invalidField]="registerForm.get('email')"
    pInputText
    formControlName="email"
    placeholder="Email"
  />
  <input
    class="w-full"
    [invalidField]="registerForm.get('name')"
    pInputText
    formControlName="name"
    placeholder="Username"
  />

  <p-password
    class="w-full"
    [invalidField]="registerForm.get('password')"
    [style]="{ width: '100%' }"
    [inputStyle]="{ width: '100%' }"
    formControlName="password"
    [toggleMask]="true"
    placeholder="Password"
  />

  <p-password
    class="w-full"
    [invalidField]="registerForm.get('confirmPassword')"
    [style]="{ width: '100%' }"
    [inputStyle]="{ width: '100%' }"
    formControlName="confirmPassword"
    [toggleMask]="true"
    placeholder="Confirm Password"
  />
  <div class="flex align-items-center gap-2">
    <label style="margin-top: 4px;" for="marketplaceAccess" class="text-sm cursor-pointer">
      I would like to sell my goods on the marketplace
    </label>
    <p-checkbox
      inputId="marketplaceAccess"
      formControlName="marketplaceAccess"
      [binary]="true">
    </p-checkbox>


  </div>
  <span
    class="error-message"
    [ngClass]="errorMessage().length === 0 ? 'invisible' : ''"
  >
    {{ errorMessage() }}
  </span>
  <button type="submit">Sign up</button>
</form>
