<section class="account-page-section">
  <header>
    <div>
      <h1>Your Account</h1>
      <h2>Manage your account settings and preferences</h2>
    </div>
  </header>
  <div class="account-page-content">
    <app-profile-information [currentDiet]="currentDiet" [meals]="clientMeals" [dailyClientDietSummary]="clientDailySummary" class="full-span"></app-profile-information>
    <app-diet-preferences [currentDiet]="currentDiet" [highlight]="highlightDietPreferences" (saveDiet)="onSaveDiet($event)" class="full-span"></app-diet-preferences>
    <app-diet-notifications></app-diet-notifications>
    <app-account-settings></app-account-settings>
    <app-subscriptions class="full-span"></app-subscriptions>
  </div>
</section>
