<div class="categories">
  <div class="category">
    <i class="pi pi-box" style="color: #4caf50; font-size: 1.5rem"></i>
    <p>Oils & Vinegars</p>
  </div>
  <div class="category">
    <i class="pi pi-box" style="color: #4caf50; font-size: 1.5rem"></i>
    <p>Oils & Vinegars</p>
  </div>
  <div class="category">
    <i class="pi pi-box" style="color: #4caf50; font-size: 1.5rem"></i>
    <p>Oils & Vinegars</p>
  </div>
  <div class="category">
    <i class="pi pi-box" style="color: #4caf50; font-size: 1.5rem"></i>
    <p>Oils & Vinegars</p>
  </div>
  <div class="category">
    <i class="pi pi-box" style="color: #4caf50; font-size: 1.5rem"></i>
    <p>Oils & Vinegars</p>
  </div>
  <div class="category">
    <i class="pi pi-box" style="color: #4caf50; font-size: 1.5rem"></i>
    <p>Oils & Vinegars</p>
  </div>
</div>
