<div class="welcome-content">

  <div class="logo-wrapper">
    <img src="assets/img/logo/logo_xxxhdpi.png" alt="App Logo" class="app-logo"/>
  </div>

  <div class="text-wrapper">
    <h2>Welcome to FoodPrintEdu!</h2>
    <p>
      We're thrilled to have you on board. This is the beginning of your fitness journey!
      Let's get you started by finalizing your account setup.
    </p>
  </div>

  <div class="cta-wrapper">
    <p-button
      label="Complete your profile"
      icon="pi pi-user-edit"
      styleClass="p-button-rounded p-button-primary"
      (onClick)="handleCta()">
    </p-button>
  </div>

</div>
