<section class="initial-form-section">
  <header>
    <h1>Personal data form!</h1>
    <h2>Please fill out the form below</h2>
  </header>
  <form [formGroup]="initialForm" (ngSubmit)="onSubmit()" class="initial-form">
    <!-- <input
    class="w-full"
    [invalidField]="registerForm.get('email')"
    pInputText
    formControlName="email"
    placeholder="Email"
  /> -->
    <div class="initial-form-item">
      <label for="sex">Gender</label>
      <p-select
        [options]="sexes"
        optionValue="value"
        optionLabel="label"
        [style]="{ width: '100%' }"
        optionLabel="label"
        formControlName="sex"
        placeholder="Select Gender"
      />
    </div>
    <div class="initial-form-item">
      <label for="age">Age</label>
      <input
        class="w-full"
        pInputText
        formControlName="age"
        placeholder="Age"
      />
    </div>
    <div class="initial-form-item">
      <label for="weightInKg">Weight (in kg)</label>
      <input
        class="w-full"
        pInputText
        formControlName="weightInKg"
        placeholder="Weight"
      />
    </div>
    <div class="initial-form-item">
      <label for="heightInCm">Height (in cm)</label>
      <input
        class="w-full"
        pInputText
        formControlName="heightInCm"
        placeholder="Height"
      />
    </div>
    <div class="initial-form-item">
      <label for="activityLevel">Activity Level</label>
      <p-select
        [options]="activityLevels"
        optionValue="value"
        optionLabel="label"
        [style]="{ width: '100%' }"
        optionLabel="label"
        formControlName="activityLevel"
        placeholder="Select Activity Level"
      />
    </div>
    <div class="initial-form-item">
      <label for="goal">Goal</label>
      <p-select
        [options]="goals"
        optionValue="value"
        optionLabel="label"
        [style]="{ width: '100%' }"
        optionLabel="label"
        formControlName="goal"
        placeholder="Select Goal"
      />
    </div>
    <div class="initial-form-item">
      <label for="preferredDietType">Diet</label>
      <p-select
        [options]="diets"
        optionValue="value"
        optionLabel="label"
        [style]="{ width: '100%' }"
        optionLabel="label"
        formControlName="preferredDietType"
        placeholder="Select Diet"
      />
    </div>
    <div class="actions">
      <p-button type="submit" label="Submit" />
    </div>
  </form>
</section>
